#workTitle {
    font-size: 8em;
}

#Timeframe {
    font-size: 3em;
}

.ProjectPage {
    display: flex;
    width: 70vw;
    height: 100vw;
    flex-direction: column;
    row-gap: 4em;
    margin: auto;
}

.PageHeading {
    display: flex;
    align-items: center;
}

.ProjectDescription {
    font-size: 1.5em;
}

.ProjectBreakdown {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 2em;
    row-gap: 2em;
    width: 100%;
    height: fit-content;
}

.Project {
    height: fit-content;
    width: 20%;
    border-radius: 1em;
    border: black solid 5px;
    background-color: white;
}

#ProjectEnhanced {
    position: relative;
    align-self: center;
    width: 60vw;
    height: 80vh;
}

#ProjectEnhanced img{
    width: 60vw;
    height:auto;
    border-radius: .5em;
}